


section.banner h2 {
    font-size: 60px;
    line-height: 1.2em;
    color: white;
  }

  .header {
    display: inline-flex;
    width: 100%;
  }

  ul.navbar {
    display: inline-flex;
    margin-left: auto;
  }

  li {
    padding: 0px 23px;
    list-style-type: none;
  }

  section.Systems {
    padding-top: 90px;
  }

  .integrated {
    padding-top: 90px;
  }

  .experience {
    padding-top: 90px;
  }

  .point {
    display: none;
  }

  .text-center {
    text-align: center;
  }

  section.banner {
    background: linear-gradient(90deg, #0a7a6a 0%, #62dac4 100%);
  }

  .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .Systems .col-md-6 {
    text-align: center;
  }
  
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
    text-align: center;
  }

  .col-md-2 {
    width: 20%;
  }

  .Frequently {
    width: 460px;
    margin-left: auto;
    padding: 20px;
    background: rgb(240 242 242);
  }

  .Frequently1 {
    width: 460px;
    padding: 20px;
    margin-right: auto;
    background: rgb(240 242 242);
  }